---
export const prerender = false
import { turso } from '../turso'
const { rows } = await turso.execute('SELECT * FROM comments')

interface Props {
    post_id: number;    
}

const { post_id } = Astro.props;
console.log(rows);
---


<ul class="px-4">
  {rows.slice().reverse().map((post) =>
    (post.post_id === post_id && post.is_approved) ? (
      <li class="border-2 p-4 mb-2">
        <p class="text-neutral-500">{post.author_name}</p>
        <p>{post.content}</p>
      </li>
    ) : null
  )}
</ul>