---
import Section from './Section.astro';
import { Image } from 'astro:assets';
---

<Section>
	<div class="flex gap-10 md:flex-row flex-col justify-center items-center">
		<Image 
			src="/hero.png" 
			alt="Hero" 
			width="400" 
			height="400"
			loading="lazy"
			decoding="async"
			class="aspect-square object-cover"
		/>
		<div>
			<h1 class="pb-2 pt-6 text-5xl">Thoughts of NO longer a teenager!</h1>
			<div class="text-sm">
				<p class="px-2 py-6 text-lg">
				For the past few years I've been writing and recording my thoughts on my phone. All of us have these <span class="font-black text-blue-600">thoughts</span>, or as I like to call them conversations with oneself, but nobody cares to express them on paper. Don't worry they're all chill thoughts.
				</p>
			</div>
		</div>
	</div>
</Section>
