---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<div class="h-10 w-12 hover:bg-gradient-to-r">
	<a
		href={href}
		target="_blank"
		class="flex h-full w-full items-center justify-center 
		text-white
		dark:text-gray-900"
	>
		<slot />
	</a>
</div>
